<div class="app" style="margin-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-body">

                        <form>

                            <div class="form-group">
                                <label class="label">Select a Picture</label>
                                <input type="file" class="form-control" (change)='loadImage($event)' accept="image/*">

                            </div>
                            <div class="form-group" style="margin-top: 20px;">
                                <label class="label">Top Text</label>
                                <input type="text" class="form-control" name="topText" [(ngModel)]='topTxt'
                                    (keyup)="fillTopText()">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label">Top Text Color</label>
                                            <color-chrome (onChangeComplete) ="onSelectedColorTop($event)"></color-chrome>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <label class="label">Selecet Top Text font </label>
                                            </div>
                                            
                                            <select #top (change)="onSelectedFontTop(top.value)" style="margin-top: 10px;">
                                                <option>Arial</option>
                                                <option>Comic Sans MS</option>
                                                <option>Pacifico</option>
                                            </select>

                                            <div class="form-group" style="margin-top: 15px;">
                                                <label class="label">Top Text size </label>
                                                <input type="number" class="form-control" name="topSize"
                                                style="width: 130px;"
                                                 [(ngModel)]='topSize'
                                                (change)="fillTopText()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 20px;">
                                <label class="label">Bottom Text</label>
                                <input type="text" class="form-control" name="bottomText" [(ngModel)]='bottomTxt'
                                    (keyup)="fillTopText()">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <label class="label">Bottom Text Color</label>

                                            </div>
                                            
                                            <color-chrome (onChangeComplete) ="onSelectedColorBottom($event)" ></color-chrome>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label">Selecet Bottom Text font </label>
                                            <select #bottom (change)="onSelectedFontBottom(bottom.value)" style="margin-top: 10px;">
                                                <option>Arial</option>
                                                <option>Comic Sans MS</option>
                                                <option>Pacifico</option>
                                            </select>
                                            <div class="form-group" style="margin-top: 15px;">
                                                <label class="label">Bottom Text size </label>
                                                <input type="number" class="form-control" name="bottomSize" 
                                                style="width: 130px;"
                                                [(ngModel)]='bottomSize'
                                                (change)="fillTopText()">
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                           
                            <button class="btn btn-primary" style="margin-top: 10px;" (click)="download()">Download Meme</button>
                        </form>
                    </div>

                </div>

            </div>
            <div class="col-md-6">
                <canvas class="drop-shadow" #myCanvas width="550" height="700"
                    style="background-color: rgb(239, 232, 224);"></canvas>


            </div>

        </div>

    </div>

</div>